<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Imateenistus API">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <request name="MICRO" value="https://ilmmicroservicedev.sise.envir.ee" force="true" />
        <request name="WSO2" value="https://192.168.52.12:8243" force="true" />
    </php>
</phpunit>